.profile-lables {
    text-align: initial;
}
.remove-btn {
    border-radius: 33%;
    background-color: #f0d3d3;
    margin-left: 10px;
}

.btn-create-dmat  {
    float: right;
    font-family: 'Poppins', sans-serif;
    color:  #290296 !important;
    width: 150px;
    margin-left: auto !important;
}
.btn-add-account {
    float: right;
    font-family: 'Poppins', sans-serif;
    color:  #290296 !important;
    width: 150px;
    margin-left: auto !important;
}

.btn-add-account :hover {
    background-color:  #290296 !important;
    color: #fff !important;

}
.btn-create-dmat :hover {
    background-color:  #290296 !important;
    color: #fff !important;

}